.pie-pagina{
    width: 100%;
    background-color: antiquewhite;
    margin-top: 35px;
    
    .grupo1{
        width: 100%;
        max-width: 90%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(5,1fr); /*permite que agregue 5 columna en todo el ancho*/
        grid-gap: 1px;
        padding: 45px 0px 0px 0px;
    
        .box figure{
        width: 90px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    
        img{
        width: 100px;
        margin-left: 50px;
    
        }
    
        }
        .maps{
            margin-right: 0;
            margin-bottom: 20px;
        }
    
    }
    .grupo2{
        padding: 15px 10px;
        text-align: center;
    }
    }
    
    